@{
}
@model List<AdminApplication.Models.Order>


<div class="container">


    <div class="row m-5">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Customer details
                    </th>
                    <th>
                        Number of products
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var item = Model[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>
                            @item.Owner.FirstName
                        </td>

                        <td>
                            @item.ProductsInOrder.Count()
                        </td>
                        <td>
                            
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">View Order</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" asp-controller="Home" asp-action="CreateInvoice" asp-route-id="@item.Id">Create Invoice</a>
                        </td>


                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>